/* Waves Background */
html, body { height: 100%; }
body {
  background:radial-gradient(ellipse at center, rgba(255,254,234,1) 0%, rgba(255,254,234,1) 35%, #B7E8EB 100%);
  overflow: hidden;
}

.ocean { 
  height: 5%;
  width:100%;
  position:absolute;
  bottom:0;
  left:0;
  background: #015871;
}

.wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x; 
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 198px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}

/* Text Content */
.salmon1 {
  height: 50px;
  margin: 25px 5px 5px 615px;
  float: left;
  transform: scaleX(-1);
}

.salmon2 {
  height: 50px;
  margin: 25px 615px 5px 5px;
  float: right;
  
}

h1 {
  text-align: center;
  font-family: 'Staatliches', cursive;
  font-size: 80px;
  margin: 10px 25px 10px 25px;
}

h4 {
  text-align: center;
  font-family: 'Staatliches', cursive;
  font-size: 16px;
  margin: 10px 25px 10px 25px;
}

a:link {
  color: black;
}

a:visited {
  color: rgb(216, 85, 85);
}

a:hover {
  color: rgb(240, 140, 140);
}

main {
  margin: auto;
  width: 960px;
}

img {
  height: 260px;
  margin-top: 50px;
}

main li:first-child {
margin-left: 0px;
}

main li {
  margin-left: 30px;
  float: left;
}

main article {
  float: right;
  width: 50%;
  margin-top: 30px;
}

main h2 {
  font-size: 20px;
  margin-left: 30px;
  font-family: 'Staatliches', cursive;
}

.para1 {
height: 125px;
margin-left: 30px;
margin-top: 5px;
}

.para2 {
margin-left: 30px;
margin-top: 75px;
}

main div {
font-size: 20px;
margin-top: 10px;
margin-left: 30px;
padding: 10px 30px;
display: inline-block;
border-radius: 5px;
cursor: pointer;
overflow: hidden;
box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
font-family: 'Staatliches', cursive;
}

.family {
  border-radius: 7px;
}