/* Waves Background */
html, body { height: 100%; }
body {
  background:radial-gradient(ellipse at center, rgba(255,254,234,1) 0%, rgba(255,254,234,1) 35%, #B7E8EB 100%);
}

/* Table and Text */
.salmon1 {
  height: 50px;
  margin: 25px 5px 5px 515px;
  float: left;
  transform: scaleX(-1);
}

.salmon2 {
  height: 50px;
  margin: 25px 515px 5px 5px;
  float: right;
  
}

h1 {
  text-align: center;
  font-family: 'Staatliches', cursive;
  font-size: 80px;
  margin: 10px 25px 10px 25px;
}

h4 {
  text-align: center;
  font-family: 'Staatliches', cursive;
  font-size: 16px;
  margin: 10px 25px 10px 25px;
}

a:link {
  color: black;
}

a:visited {
  color: rgb(216, 85, 85);
}

a:hover {
  color: rgb(240, 140, 140);
}

#addStoreForm {
  font-family: 'Staatliches', cursive;
}

#store-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  font-family: 'Staatliches', cursive;
}

#store-table th,
#store-table td {
  padding: 31px 48px 31px 48px;
}

td:hover {
  color: rgb(216, 85, 85);
  transition: 350ms;
}


